<a href="https://colab.research.google.com/github/jrpickens/data-science-notebooks/blob/main/James_Pickens_01_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

James Pickens

# üìò 01 - For Loops

Learn how to use `for` loops to iterate over sequences.

## ‚úÖ Learning Goals
- Use `for` with lists, strings, and `range()`
- Understand loop variables and block structure

In [ ]:
# üîÅ Loop over a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
# üîÅ Loop over characters in a string
word = 'hello'
for char in word:
    print(char)

h
e
l
l
o

In [ ]:
# üîÅ Using range()
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# ‚ûï Loop with math
for i in range(1, 6):
    print(f'{i} squared is', i ** 2)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

### ‚úèÔ∏è Your Turn
Loop over a list of 3 favorite movies and print them in all caps.

In [ ]:
movies = ['HTTYD', 'THE MARTIAN', 'INTERSTELLAR']
for m in movies:
  print(m)

HTTYD
THE MARTIAN
INTERSTELLAR